<ion-view view-title="天气地图">
  <ion-content>   
      <leaflet layers="layers" lf-center="center" markers="markers" event-broadcast="events" url-hash-center="yes" width="100%" height="480px"></leaflet>
      
      <h3>点击地图获取当前位置的温度信息</h3>
      <h4>定位城市</h4>
      <ul>
        <li><a href="" ng-click="changeLocation('31.22:121.48')">上海</a>
      </ul>
  </ion-content>

</ion-view>
